<ag-grid-angular
  style="width: 100%; height: 100%"
  class="ag-theme-alpine"
  [columnDefs]="columnDefs"
  [defaultColDef]="defaultColDef"
  [rowData]="rowData$ | async"
  [paginationAutoPageSize]="true"
  [pagination]="true"

  (gridReady)="onGridReady($event)"

  (filterChanged)="onFilterChanged()"
  (sortChanged)="onSaveGridColumnState()"
  (columnVisible)="onSaveGridColumnState()"
  (columnPinned)="onSaveGridColumnState()"
  (columnResized)="onSaveGridColumnState()"
  (columnMoved)="onSaveGridColumnState()"
  (columnRowGroupChanged)="onSaveGridColumnState()"
  (columnValueChanged)="onSaveGridColumnState()"
  (columnPivotChanged)="onSaveGridColumnState()"
  (columnPivotModeChanged)="onSavePivotModeState()"
  (paginationChanged)="onPaginationChanged()"
 ></ag-grid-angular>   